* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(65, 65, 65);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(wallpapersden.com_controller-4k-playstation_1366x768.jpg);

}

.tela {
    display: none;
    padding: 20px;
}

.tela.ativa {
    display: block;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    width: 80%;
    max-width: 300px;
}

button {
    transition: background-color 0.3s;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;

}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

p {
    font-size: 1.2em;
}

.nomes {

    font-size: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.jogo {

    font-size: 50px;
    margin: 50px;
    color: rgb(196, 48, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.jgr {
    border-radius: 10px;
    margin: 30px;
    background-color: rgb(205, 96, 255);
}

.jgr:hover {
    background-color: rgb(255, 0, 234);
    transition: background-color 0.3s;
}

.adv {
     transition: background-color 0.3s;
    border-radius: 10px;
    background-color: rgb(255, 68, 224);
}

.adv:hover {

    background-color: rgb(203, 31, 255);
}



.tente {
    font-size: 20px;
    margin: 20px;
    color: rgb(62, 216, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.boas {
    font-size: 35px;
    margin: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.fdk {
    font-size: 25px;
    margin: 10px;
    color: rgb(252, 222, 255);
    font-family: Arial, Helvetica, sans-serif;

}

.msgresul {

    font-size: 30px;
    margin: 20px;
    color: rgb(238, 255, 87);
    font-weight: bold;
}

.correto {
    font-size: 20px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.tnt {
    font-size: 20px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.jgnv {
    transition: background-color 0.2s;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
}

.jgnv:hover{
    background-color: rgb(255, 110, 110);
}

.email {

    margin: 20px;
    font-size: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

input {
    border-radius: 10px;
    padding: 10px;
    width: 22%;
}